/* searchbar css */

.footer{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    position:fixed;
    bottom:0
}
.footer-searchbar{
    background-color: rgba(82, 81, 81, 0.4);
    border: 1px solid grey;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px auto;
    width: 50vw;
}

.footer-searchbar:hover{
    border: 1px solid #373a47;
}

.footer-searchbar-btn{
    border: none;
    background-color: transparent;
    color: #373a47;
}

.footer-searchbar input{
    width: 100%;
    border-radius: 2vh;
    height:3vh;
    background-color: transparent;
    border:none;
    color: #373a47;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
}

/* modal css */

.search-result-modal{
    
}