.fillin {
  height: 100vh;
}

.fillin-carosel {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding-top: 100px;
}

.fillin-container {
  display: flex;
  justify-content: center;
  height: 350px;
}

.carosel {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  gap: 3rem;
  padding-left: 0;
}

.message {
  color: #030303;
  margin: 0;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.btns-back,
.btns-forward {
  border: 2px solid transparent;
}

.btns-back:hover,
.btns-forward:hover {
  border: 2px solid black;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 30px;
}
/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem; */

/* height: 30%;
    width: 30%; */
/* background-color: white;
    padding: 15px;
    gap: 5px;
} */

.card-title {
  font-size: 40px;
  margin: 0;
  color: black;
}

.braille_fillin {
  display: flex;
  flex-direction: row;
}

#column1 {
  display: flex;
  flex-direction: column;
  float: left;
}

#column2 {
  display: flex;
  flex-direction: column;
  float: right;
}

input[type="checkbox"] {
  appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.1rem;
  border: 0.25rem solid black;
  border-radius: 50%;
}

input[type="checkbox"]::before {
  position: relative;
  content: "";
  width: 2rem;
  height: 2rem;
  clip-path: circle(50% at 50% 50%);
  transform: scale(0);
  background-color: black;
  z-index: 1;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
