.alphabet {
  height: 100vh;
}

.alpha-title {
  padding-bottom: 10px;
  color: #663d1f;
}

.alphabet-carosel {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.carosel {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  gap: 3rem;
  padding-left: 0;
}

.alphacard {
  display: inline-block;
}

.alpha-btn {
  padding: 5px 0;
}

.alphabet-btns {
  display: flex;
  justify-content: space-evenly;
}

.alphabet-btns-back,
.alphabet-btns-forward {
  border: 2px solid transparent;
}

.alphabet-btns-back:hover,
.alphabet-btns-forward:hover {
  border: 2px solid black;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 30px;
}
