.matching-alpha-container {
    display: flex;
    margin-top: 80px;
}

.matching-card {
    height: 200px;
    width: 160px;
    margin: 10px
}

.matching-height {
    height: -webkit-fill-available;
}

.matched {
    background-color: #9ef79f; /* Light green background color */
    border: 2px solid #4caf50; /* Green border */
    /* Add any additional styling for matched cards here */
  }

.card.matched {
    /* Add your styling for matched cards here */
    border: 10px solid green;
}