.dircard{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
    height: 30%;
    width: 300px;
    background-color: white;
    color: black;
}

.dircard:hover{
    border: 2px solid #808c6c;
}

.dircard-examples{
    display: flex;
    justify-content: space-around;

}

.dircard-braille-img{
    height: 4rem;
}

.fa-long-arrow-right{
    font-size: 40px;
}

.dircard-quiz{

    display: flex;
    align-items: center;
    gap:3rem;
}

.dircard-ref-img img{
    height: 50px;
    width: 45px;
}